:root {
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --white: #fff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
ul {
  margin: 0;
  padding: 0;
}
/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}
.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 76px 0 0;
}

.logo-dark {
  color: var(--navyblue);
}

.list {
  list-style-type: none;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin: 0 332px 0 0;
  padding-left: 0;
}

.nav-list-item {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.address {
  font-style: normal;
}

.address-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--ocean);
}

.link:focus {
  color: var(--ocean);
}

/* Main */
/* Hero Section  */
.hero-section {
  background-color: var(--navyblue);
  padding: 188px 0;
}
.title-hero {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.button-hero {
  display: block;
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.button-hero:hover {
  background-color: var(--ocean);
  font-family: inherit;
}

.button-hero:focus {
  background-color: var(--ocean);
  font-family: inherit;
}

/* Benefits Section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-section {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.benefits-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
/* Doing Section */
.doing-section {
  padding-bottom: 120px;
}
.doing-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.doing-list-item {
  width: calc((100% - 48px) / 3);
}
/* Team Section */
.team-section {
  background: var(--cloud);
}
.team-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list-item {
  background-color: var(--white);
}
.team-item-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio Section */

.filter-button {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 16px;
}
.filter-button:hover {
  background-color: var(--ocean);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  font-family: 'Roboto', sans-serif;
}

.portfolio-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Footer section */
.footer {
  background-color: var(--navyblue);
}

.logo-light {
  color: var(--cloud, #f4f4fd);
}

.footer-item {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
